.logo {
    width: 24px;
    height: auto;
    margin: 20px;
}

body {
    text-align: center;
    background-color: rgb(20,20,20);
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 420px;
    letter-spacing: 2px;
    margin: 50px;
    color: rgb(247,247,247);
}

h2 {
    margin-top: -164px;
    font-family: 'Shippori Antique', sans-serif;
    font-size: 20px;
    color: rgb(247,247,247);
}

a {
    margin: auto;
    font-family: 'Shippori Antique', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: rgb(150, 150, 150);
    text-decoration: none;
}