/* .logo {
    width: 24px;
    height: auto;
	margin: 20px;
	image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
}

.sidebar {
    width: 256px;
    height: 100%;
    background-color: rgb(16,16,16);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.menuimg {
    float: left;
	width: 24px;
	height: auto;
    margin: 0px 20px 0px 20px;
	image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
}

.statscontainer {
    background-color: rgb(22,22,22);
    width: 40vw;
    height: fit-content;
    border-radius: 8px;
    text-align: center;
    margin: auto;
}

.titlecontainer {
    text-align: center;
    margin: 72px auto auto auto;
    width: 40vw;
}

.optioncontainer div {
    margin-top: 40px;
}

.optioncontainer h3 {
    font-family: 'Shippori Antique', sans-serif;
    font-size: 14px;
    color: rgb(247,247,247);
}

.datacontainer {
	display: grid;
	grid-template-columns: 50% 50%;
}

.graphcontainer {
    background-color: rgb(22,22,22);
    width: 40vw;
    border-radius: 8px;
    margin: auto;
}

input[type=text] {
	width: 70%;
	height: 24px;
	background-color: transparent;
	border: 0px;
	border-radius: 8px;
	font-family: 'Shippori Antique', sans-serif;
    font-size: 12px;
	color: rgb(125,125,125);
	vertical-align: bottom;
}

input[type=text]:focus {
	outline: none;
}

#minersearch {
	background-color: transparent;
	border: 0px;
	padding-top: 10px;
}

#minersearch img {
	vertical-align: top;
	width: 24px;
	height: auto;
}

body {
    padding-left: 256px;
    background-color: rgb(20,20,20);
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3vw;
	font-weight: 400;
    margin: 40px;
    color: rgb(247,247,247);
}

h2 {
    font-family: 'Shippori Antique', sans-serif;
    font-size: 20px;
    color: rgb(247,247,247);
}

h3 {
    font-family: 'Shippori Antique', sans-serif;
    font-size: 16px;
    color: rgb(247,247,247);
}

h4 {
    font-family: 'Shippori Antique', sans-serif;
    font-size: 28px;
    color: rgb(247,247,247);
}

p {
    font-family: 'Shippori Antique', sans-serif;
    font-size: 14px;
    color: rgb(150,150,150);
}

a {
    text-decoration: none;
}

#homebtn {
	margin: auto;
    font-family: 'Shippori Antique', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: rgb(125, 125, 125);
    text-decoration: none;
}


#error404 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30vw;
    letter-spacing: 2px;
    color: rgb(247,247,247);
}

#errorbody {
	text-align: center;
	padding-left: 0;
}

@media (max-width: 600px) {
	body {
		padding-left: 64px;
	}

	h1 {
		font-size: 8vw;
		letter-spacing: 0.25vw;
	}
	
	.graphcontainer {
    background-color: rgb(22,22,22);
    width: 76vw;
    border-radius: 8px;
    margin: auto;
	}

	.statscontainer {
    background-color: rgb(22,22,22);
    width: 76vw;
    height: fit-content;
    border-radius: 8px;
    text-align: center;
    margin: auto;
	}

	.sidebar {
    width: 64px;
	height: 100%;
    background-color: rgb(16,16,16);
	position: fixed;
	}

	.sidebar h3 {
		display: none;
	}

	.menuimg {
		display: inline-block;
		float: none;
	}

	.titlecontainer {
    text-align: center;
    margin: 32px auto auto auto;
    width: 76vw;
	}
} */

@font-face {
    font-family: "Directors Gothic";
    src: url('assets/fonts/directorsgothic.woff') format('woff');
  }

header {
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 64px;
    text-align: center;
    background-color: #FFFFFF;
    z-index: 1000;
}

header a {
    text-decoration: none;
    color: #919191;
}

header img {
    width: 48px;
    height: auto;
    margin-bottom: -18px;
    border-radius: 8px;
}

header ul {
    list-style-type: none;
    margin-top: -12px;
}

header ul li {
    display: inline-block;
    float: none;
    margin: 20px;
    font-family: "Source Sans Pro";
    font-size: 14px;
    text-decoration: none;
}

.maincontainer {
    width: 80vw;
    height: fit-content;
    margin: auto;
    padding: 20px;
    background-color: rgba(244, 244, 244, .5);  
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px #eaeaea;
    border-radius: 8px;
}

.datacontainer {
    display: grid;
	grid-template-columns: 25% 25% 25% 25%;
    padding: 20px;
}

.datacontainer p, .subcontainer p {
    font-family: "Source Sans Pro";
    font-size: 18px;
    color: #4e4e4e;
}

.subcontainer p {
    text-align: center;
}

.datacontainer h2 {
    font-family: "Directors Gothic";
    font-size: 48px;
    font-weight: normal;
    color: #1f1f1f;
    margin-top: -16px;
}

.datacontainer div {
    margin: 24px;
}

.bodycontainer {
    margin-top: 128px;
}

#minerhashrate::after {
    content: "/s";
    font-size: 28px;
}

#minerworkers::after {
    content: " ACTIVE";
    font-size: 28px;
}

#minerpending::after, #minerrewarded::after, #minerlifetime::after {
    content: " RTM";
    font-size: 28px;
}

#minershares::after {
    content: " SENT";
    font-size: 28px;
}

.inputcontainer {
    background-color: rgba(244, 244, 244, .5);  
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px #eaeaea;
    border-radius: 8px;
    width: fit-content;
    padding: 20px;
    margin: auto;
}

input[type=text] {
	width: 40vw;
	height: 38px;
	background-color: transparent;
	border: 0px;
	border-radius: 8px;
	font-family: "Source Sans Pro";
    font-size: 14px;
	color: rgb(125,125,125);
	vertical-align: bottom;
    float: left;
}

input[type=text]:focus {
	outline: none;
}

#minersearch {
	background-color: transparent;
	border: 0px;
}

#minersearch img {
	width: 38px;
	height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px #a1a1a1;
}

.graphcontainer {
    margin: auto;
    width: 80%;
    height: 80%;
}

.duocontainer {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: auto;
    width: 80vw;
    padding: 20px;
}

.duocontainer .subcontainer {
    width: 34vw;
    height: 34vw;
    background-color: rgba(244, 244, 244, .5);  
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px #eaeaea;
    border-radius: 8px;
    margin: 24px;
}