.logo {
    width: 24px;
    height: auto;
    margin: 20px;
}

.sidebar {
    width: 256px;
    height: 100%;
    background-color: rgb(16,16,16);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.menuimg {
    float: left;
    margin: 0px 20px 0px 20px;
}

.statscontainer {
    background-color: rgb(22,22,22);
    width: 40vw;
    height: fit-content;
    border-radius: 8px;
    text-align: center;
    margin: auto;
}

.titlecontainer {
    text-align: center;
    margin: 72px auto auto auto;
    width: 40vw;
}

.optioncontainer div {
    margin-top: 30px;
}

.optioncontainer h3 {
    font-family: 'Shippori Antique', sans-serif;
    font-size: 14px;
    color: rgb(247,247,247);
}

.datacontainer div {
    display: inline-block;
    margin: 20px;
}

.graphcontainer {
    background-color: rgb(22,22,22);
    width: 40vw;
    border-radius: 8px;
    margin: auto;
}

input[type=text] {
	width: 70%;
	height: 24px;
	background-color: transparent;
	border: 0px;
	border-radius: 8px;
	font-family: 'Shippori Antique', sans-serif;
    font-size: 12px;
	color: rgb(125,125,125);
	vertical-align: bottom;
}

input[type=text]:focus {
	outline: none;
}

#minersearch {
	background-color: transparent;
	border: 0px;
	padding-top: 10px;
}

#minersearch img {
	vertical-align: top;
}

body {
    padding-left: 256px;
    background-color: rgb(20,20,20);
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 44px;
    letter-spacing: 2px;
    margin: 50px;
    color: rgb(247,247,247);
}

h2 {
    font-family: 'Shippori Antique', sans-serif;
    font-size: 20px;
    color: rgb(247,247,247);
}

h3 {
    font-family: 'Shippori Antique', sans-serif;
    font-size: 16px;
    color: rgb(247,247,247);
}

h4 {
    font-family: 'Shippori Antique', sans-serif;
    font-size: 28px;
    color: rgb(247,247,247);
}

p {
    font-family: 'Shippori Antique', sans-serif;
    font-size: 14px;
    color: rgb(150,150,150);
}

a {
    text-decoration: none;
}